<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Monster Slayer</title>
</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col text-center">
                <h2>YOU</h2>
            </div>
            <div class="col text-center">
                <h2>MONSTER</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: your_life + '%'}" v-bind:aria-valuenow="your_life" aria-valuemin="0"
                    aria-valuemax="100">{{your_life}}%</div>
            </div>
            <div class="col">
                <div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: monster_life + '%'}" v-bind:aria-valuenow="monster_life" aria-valuemin="0"
                    aria-valuemax="100">{{monster_life}}%</div>
            </div>
        </div>


        <div v-if="not_inited" class="container p-3 border mt-3 text-center">
            <button @click="not_inited = false" type="button" class="btn btn-secondary">START NEW GAME</button>
        </div>

        <div v-else class="container p-3 border mt-3 text-center">
            <button @click="attack" class="btn btn-danger">Attack</button>
            <button @click="special_attack" class="btn btn-warning">Special Attack</button>
            <button @click="heal" class="btn btn-success">Heal</button>
            <button @click="giveup" class="btn btn-light">Give up</button>
        </div>

        <div class="container p-3 border mt-3 text-center">
            <h4>Action Log</h4>
            <ul class="list-unstyled text-light">
                <li v-for="l in attack_log" class="mt-1" v-bind:class="{'bg-danger': l.monster_class, 'bg-success': l.you_class}">{{l.msg}}</li>
            </ul>
        </div>

    </div>
</body>

<footer>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                not_inited: true,
                ataque: 0,
                monster_life: 100,
                your_life:100,
                attack_log: [],
            },
            methods: {
                getRandomNumber : function (){
                    return Math.round((Math.random() * 20) + 1);
                },
                checkEnd : function(monster, value){
                    if (monster){
                        if (this.monster_life - value < 0){
                            return true;
                        }
                    }else{
                        if (this.your_life - value < 0){
                            return true;
                        }
                    }
                },
                endGame : function (status){
                    msg = `You ${status}. Do you want to play again?`;
                    console.log(msg);
                    ret = confirm(msg);
                    this.reset();
                    if(ret){
                        this.not_inited=false;
                    }
                },
                attack : function(){
                    number = this.getRandomNumber();
                    this.add_to_log(true, number, "attacked")
                    if(this.checkEnd(true, number)){
                        this.monster_life = 0;
                        this.endGame('win');
                    }else{
                        this.monster_life -= number;
                        this.counter_attack();
                    }
                },
                special_attack : function(){
                    number = this.getRandomNumber() + this.getRandomNumber();
                    this.add_to_log(true, number, "used a special attacked")
                    if(this.checkEnd(true, number)){
                        this.monster_life = 0;
                        this.endGame('win');
                    }else{
                        this.monster_life -= number;
                        this.counter_attack();
                    }
                },
                heal : function(){
                    number = this.getRandomNumber();
                    this.your_life += number;
                    this.attack_log.push({msg: `You cured yourself ${number} life points`, monster_class: false, you_class: true});
                    this.counter_attack();
                },
                reset : function(){
                    this.monster_life = 100;
                    this.your_life = 100;
                    this.attack_log = [];
                    this.not_inited = true;
                },
                giveup : function(){
                    this.reset();
                },
                counter_attack : function(){
                    number = this.getRandomNumber();
                    this.add_to_log(false, number, "attacked")
                    if(this.checkEnd(false, number)){
                        this.your_life = 0;
                        this.endGame('lost');
                    }else{
                        this.your_life -= number;
                    }
                },
                add_to_log : function(you, damage, action){
                    attacker = 'Monster'
                    attacked = 'You'
                    monster_class = true
                    you_class = false
                    if(you){
                        attacker = "You"
                        attacked = "Monster"
                        monster_class = false
                        you_class = true
                    }
                    msg = `${attacker} ${action} ${attacked} and caused ${damage} of damage.`
                    this.attack_log.push({msg: msg, monster_class: monster_class, you_class: you_class})
                }
            }
        })
    </script>
</footer>

</html>